
<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    
    <%= f.input :meal_name %>
    <%= f.input :category,  
    collection: ["Jpanese", "Korean", "Chinese", "Australian", "Indian",
     "Mexican", "Original", "Not listed here"] %>
    <%= f.input :description %>
    <%= f.input :ingredients %>
    <%= f.input :price %>
    <%= f.input :place %>
    <%= f.input :time %>
    <%= f.input :message %>
    <%= f.input :guest_number %>
    <%= f.file_field :picture%>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
